<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.net.sunet.sunetcloud.dao.AccountMapper" >
  <resultMap id="BaseResultMap" type="cn.net.sunet.sunetcloud.domain.Account" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="nickname" property="nickname" jdbcType="VARCHAR" />
    <result column="employee_number" property="employeeNumber" jdbcType="INTEGER" />
    <result column="department_id" property="departmentId" jdbcType="INTEGER" />
    <result column="gender" property="gender" jdbcType="VARCHAR" />
    <result column="telephone" property="telephone" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="avatar_url" property="avatarUrl" jdbcType="VARCHAR" />
    <result column="account_type_id" property="accountTypeId" jdbcType="INTEGER" />
    <result column="is_check" property="isCheck" jdbcType="TINYINT" />
    <result column="is_lock" property="isLock" jdbcType="TINYINT" />
    <association property="accountType" javaType="cn.net.sunet.sunetcloud.domain.AccountType">
      <result column="name" property="name"/>
      <result column="roles" property="roles"/>
    </association>
  </resultMap>
  <sql id="Base_Column_List" >
    id, username, password, nickname, employee_number, department_id, gender, telephone, 
    email, avatar_url, account_type_id, is_check, is_lock
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from account
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectByUsername" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    a.id, a.username, a.password, a.nickname, a.employee_number, a.department_id, a.gender, a.telephone,
    a.email, a.avatar_url, a.account_type_id, a.is_check, a.is_lock
    ,ac.name,ac.roles
    from account a LEFT  JOIN account_type ac on a.account_type_id = ac.id
    where username = #{username}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from account
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="cn.net.sunet.sunetcloud.domain.Account" >
    insert into account (id, username, password, 
      nickname, employee_number, department_id, 
      gender, telephone, email, 
      avatar_url, account_type_id, is_check, 
      is_lock)
    values (#{id,jdbcType=BIGINT}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{nickname,jdbcType=VARCHAR}, #{employeeNumber,jdbcType=INTEGER}, #{departmentId,jdbcType=INTEGER}, 
      #{gender,jdbcType=VARCHAR}, #{telephone,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{avatarUrl,jdbcType=VARCHAR}, #{accountTypeId,jdbcType=INTEGER}, #{isCheck,jdbcType=TINYINT}, 
      #{isLock,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="cn.net.sunet.sunetcloud.domain.Account" >
    insert into account
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="nickname != null" >
        nickname,
      </if>
      <if test="employeeNumber != null" >
        employee_number,
      </if>
      <if test="departmentId != null" >
        department_id,
      </if>
      <if test="gender != null" >
        gender,
      </if>
      <if test="telephone != null" >
        telephone,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="avatarUrl != null" >
        avatar_url,
      </if>
      <if test="accountTypeId != null" >
        account_type_id,
      </if>
      <if test="isCheck != null" >
        is_check,
      </if>
      <if test="isLock != null" >
        is_lock,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null" >
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="employeeNumber != null" >
        #{employeeNumber,jdbcType=INTEGER},
      </if>
      <if test="departmentId != null" >
        #{departmentId,jdbcType=INTEGER},
      </if>
      <if test="gender != null" >
        #{gender,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null" >
        #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="avatarUrl != null" >
        #{avatarUrl,jdbcType=VARCHAR},
      </if>
      <if test="accountTypeId != null" >
        #{accountTypeId,jdbcType=INTEGER},
      </if>
      <if test="isCheck != null" >
        #{isCheck,jdbcType=TINYINT},
      </if>
      <if test="isLock != null" >
        #{isLock,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.net.sunet.sunetcloud.domain.Account" >
    update account
    <set >
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null" >
        nickname = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="employeeNumber != null" >
        employee_number = #{employeeNumber,jdbcType=INTEGER},
      </if>
      <if test="departmentId != null" >
        department_id = #{departmentId,jdbcType=INTEGER},
      </if>
      <if test="gender != null" >
        gender = #{gender,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null" >
        telephone = #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="avatarUrl != null" >
        avatar_url = #{avatarUrl,jdbcType=VARCHAR},
      </if>
      <if test="accountTypeId != null" >
        account_type_id = #{accountTypeId,jdbcType=INTEGER},
      </if>
      <if test="isCheck != null" >
        is_check = #{isCheck,jdbcType=TINYINT},
      </if>
      <if test="isLock != null" >
        is_lock = #{isLock,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.net.sunet.sunetcloud.domain.Account" >
    update account
    set username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      nickname = #{nickname,jdbcType=VARCHAR},
      employee_number = #{employeeNumber,jdbcType=INTEGER},
      department_id = #{departmentId,jdbcType=INTEGER},
      gender = #{gender,jdbcType=VARCHAR},
      telephone = #{telephone,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      avatar_url = #{avatarUrl,jdbcType=VARCHAR},
      account_type_id = #{accountTypeId,jdbcType=INTEGER},
      is_check = #{isCheck,jdbcType=TINYINT},
      is_lock = #{isLock,jdbcType=TINYINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>