<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.net.sunet.sunetcloud.dao.DeviceRawMaterialManageMapper">
    <resultMap id="BaseResultMap" type="cn.net.sunet.sunetcloud.domain.DeviceRawMaterialManage">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="device_type_id" property="deviceTypeId" jdbcType="INTEGER"/>
        <result column="raw_material_id" property="rawMaterialId" jdbcType="BIGINT"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, device_type_id, raw_material_id
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from device_raw_material_manage
        where id = #{id,jdbcType=BIGINT}
    </select>
    <select id="selectByDeviceTypeIdAnd" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from device_raw_material_manage
        where device_type_id = #{deviceTypeId,jdbcType=BIGINT} AND raw_material_id=#{rawMaterialId}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from device_raw_material_manage
    where id = #{id,jdbcType=BIGINT}
  </delete>
    <insert id="insert" parameterType="cn.net.sunet.sunetcloud.domain.DeviceRawMaterialManage">
    insert into device_raw_material_manage (id, device_type_id, raw_material_id
      )
    values (#{id,jdbcType=BIGINT}, #{deviceTypeId,jdbcType=INTEGER}, #{rawMaterialId,jdbcType=BIGINT}
      )
  </insert>
    <insert id="insertSelective" parameterType="cn.net.sunet.sunetcloud.domain.DeviceRawMaterialManage">
        insert into device_raw_material_manage
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="deviceTypeId != null">
                device_type_id,
            </if>
            <if test="rawMaterialId != null">
                raw_material_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="deviceTypeId != null">
                #{deviceTypeId,jdbcType=INTEGER},
            </if>
            <if test="rawMaterialId != null">
                #{rawMaterialId,jdbcType=BIGINT},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="cn.net.sunet.sunetcloud.domain.DeviceRawMaterialManage">
        update device_raw_material_manage
        <set>
            <if test="deviceTypeId != null">
                device_type_id = #{deviceTypeId,jdbcType=INTEGER},
            </if>
            <if test="rawMaterialId != null">
                raw_material_id = #{rawMaterialId,jdbcType=BIGINT},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="cn.net.sunet.sunetcloud.domain.DeviceRawMaterialManage">
    update device_raw_material_manage
    set device_type_id = #{deviceTypeId,jdbcType=INTEGER},
      raw_material_id = #{rawMaterialId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>