<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.net.sunet.sunetcloud.dao.DeviceMapper" >
  <resultMap id="BaseResultMap" type="cn.net.sunet.sunetcloud.domain.Device" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="chinese_name" property="chineseName" jdbcType="VARCHAR" />
    <result column="english_name" property="englishName" jdbcType="VARCHAR" />
    <result column="asset_code" property="number" jdbcType="VARCHAR" />
    <result column="rated_uph" property="ratedUPH" jdbcType="REAL" />
    <result column="rated_voltage" property="ratedVoltage" jdbcType="REAL" />
    <result column="rated_power" property="ratedPower" jdbcType="REAL" />
    <result column="rated_pressure" property="ratedPressure" jdbcType="REAL" />
    <result column="product_date" property="productDate" jdbcType="TIMESTAMP" />
    <result column="life_cycle" property="lifeCycle" jdbcType="INTEGER" />
    <result column="connect_device" property="connectDevice" jdbcType="VARCHAR" />
    <result column="device_new_value" property="deviceNewValue" jdbcType="REAL" />
    <result column="device_origin_value" property="deviceOriginValue" jdbcType="REAL" />
    <result column="account_id" property="accountId" jdbcType="BIGINT" />
    <result column="device_type_id" property="deviceTypeId" jdbcType="INTEGER" />
    <result column="certificate" property="certificate" jdbcType="VARCHAR"/>
    <result column="runtime" property="runtime" />
    <result column="nickname" property="nickname"/>
    <result column="additive_output" property="additiveOutput"/>
    <result column="status_id" property="status"/>
  </resultMap>
  <sql id="Base_Column_List" >
    id, chinese_name, english_name, asset_code, rated_uph, rated_voltage, rated_power,
    rated_pressure, product_date, life_cycle, connect_device, device_new_value, device_origin_value, 
    account_id, device_type_id,certificate
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from device
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectIp" resultType="java.lang.String" parameterType="java.lang.Long" >
    select
    ip
    from device
    where id = #{id}
  </select>
  <select id="queryPage" resultMap="BaseResultMap" >
    select
    d.chinese_name, d.english_name, d.asset_code, d.rated_uph, d.rated_voltage, d.rated_power,
    d.rated_pressure, d.product_date, d.life_cycle,d.device_new_value, d.device_origin_value,r.run_time
    runtime,a.nickname
    nickname
    from device d LEFT JOIN device_performance r ON d.id=r.device_id LEFT JOIN account a ON r.malfuntion_person_id =
    a.id
    ORDER BY d.id ASC limit #{page},#{count}
  </select>
  <select id="queryTotal" resultType="java.lang.Integer"  >
    SELECT
	COUNT(*)
    FROM
	device
  </select>
  <select id="querySummary" resultMap="BaseResultMap">
    SELECT
	d.asset_code,
	d.chinese_name,
	d.english_name,
	d.rated_uph,
	d.status_id,
	p.run_time
FROM
	 device d LEFT JOIN device_performance p ON d.id = p.device_id
WHERE
	d.device_type_id =#{deviceId} ORDER BY asset_code DESC limit #{page},#{count}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from device
    where id = #{id,jdbcType=BIGINT}
  </delete>

  <insert id="insert" parameterType="cn.net.sunet.sunetcloud.domain.Device" >
    insert into device (id, chinese_name, english_name, 
      asset_code, rated_uph, rated_voltage, 
      rated_power, rated_pressure, product_date, 
      life_cycle, connect_device, device_new_value, 
      device_origin_value, account_id, device_type_id,certificate
      )
    values (#{id,jdbcType=BIGINT}, #{chineseName,jdbcType=VARCHAR}, #{englishName,jdbcType=VARCHAR}, 
      #{number,jdbcType=VARCHAR}, #{ratedUPH,jdbcType=REAL}, #{ratedVoltage,jdbcType=REAL},
      #{ratedPower,jdbcType=REAL}, #{ratedPressure,jdbcType=REAL}, #{productDate,jdbcType=TIMESTAMP}, 
      #{lifeCycle,jdbcType=INTEGER}, #{connectDevice,jdbcType=VARCHAR}, #{deviceNewValue,jdbcType=REAL}, 
      #{deviceOriginValue,jdbcType=REAL}, #{accountId,jdbcType=BIGINT}, #{deviceTypeId,jdbcType=INTEGER},
      #{certificate}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.net.sunet.sunetcloud.domain.Device" >
    insert into device
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="chineseName != null" >
        chinese_name,
      </if>
      <if test="englishName != null" >
        english_name,
      </if>
      <if test="number != null" >
        asset_code,
      </if>
      <if test="ratedUPH != null" >
        rated_uph,
      </if>
      <if test="ratedVoltage != null" >
        rated_voltage,
      </if>
      <if test="ratedPower != null" >
        rated_power,
      </if>
      <if test="ratedPressure != null" >
        rated_pressure,
      </if>
      <if test="productDate != null" >
        product_date,
      </if>
      <if test="lifeCycle != null" >
        life_cycle,
      </if>
      <if test="connectDevice != null" >
        connect_device,
      </if>
      <if test="deviceNewValue != null" >
        device_new_value,
      </if>
      <if test="deviceOriginValue != null" >
        device_origin_value,
      </if>
      <if test="accountId != null" >
        account_id,
      </if>
      <if test="deviceTypeId != null" >
        device_type_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="chineseName != null" >
        #{chineseName,jdbcType=VARCHAR},
      </if>
      <if test="englishName != null" >
        #{englishName,jdbcType=VARCHAR},
      </if>
      <if test="number != null" >
        #{number,jdbcType=VARCHAR},
      </if>
      <if test="ratedUPH != null" >
        #{ratedUph,jdbcType=REAL},
      </if>
      <if test="ratedVoltage != null" >
        #{ratedVoltage,jdbcType=REAL},
      </if>
      <if test="ratedPower != null" >
        #{ratedPower,jdbcType=REAL},
      </if>
      <if test="ratedPressure != null" >
        #{ratedPressure,jdbcType=REAL},
      </if>
      <if test="productDate != null" >
        #{productDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lifeCycle != null" >
        #{lifeCycle,jdbcType=INTEGER},
      </if>
      <if test="connectDevice != null" >
        #{connectDevice,jdbcType=VARCHAR},
      </if>
      <if test="deviceNewValue != null" >
        #{deviceNewValue,jdbcType=REAL},
      </if>
      <if test="deviceOriginValue != null" >
        #{deviceOriginValue,jdbcType=REAL},
      </if>
      <if test="accountId != null" >
        #{accountId,jdbcType=BIGINT},
      </if>
      <if test="deviceTypeId != null" >
        #{deviceTypeId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.net.sunet.sunetcloud.domain.Device" >
    update device
    <set >
      <if test="chineseName != null" >
        chinese_name = #{chineseName,jdbcType=VARCHAR},
      </if>
      <if test="englishName != null" >
        english_name = #{englishName,jdbcType=VARCHAR},
      </if>
      <if test="number != null" >
        asset_code = #{number,jdbcType=VARCHAR},
      </if>
      <if test="ratedUPH != null" >
        rated_uph = #{ratedUph,jdbcType=REAL},
      </if>
      <if test="ratedVoltage != null" >
        rated_voltage = #{ratedVoltage,jdbcType=REAL},
      </if>
      <if test="ratedPower != null" >
        rated_power = #{ratedPower,jdbcType=REAL},
      </if>
      <if test="ratedPressure != null" >
        rated_pressure = #{ratedPressure,jdbcType=REAL},
      </if>
      <if test="productDate != null" >
        product_date = #{productDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lifeCycle != null" >
        life_cycle = #{lifeCycle,jdbcType=INTEGER},
      </if>
      <if test="connectDevice != null" >
        connect_device = #{connectDevice,jdbcType=VARCHAR},
      </if>
      <if test="deviceNewValue != null" >
        device_new_value = #{deviceNewValue,jdbcType=REAL},
      </if>
      <if test="deviceOriginValue != null" >
        device_origin_value = #{deviceOriginValue,jdbcType=REAL},
      </if>
      <if test="accountId != null" >
        account_id = #{accountId,jdbcType=BIGINT},
      </if>
      <if test="deviceTypeId != null" >
        device_type_id = #{deviceTypeId,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status_id = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.net.sunet.sunetcloud.domain.Device" >
    update device
    set chinese_name = #{chineseName,jdbcType=VARCHAR},
      english_name = #{englishName,jdbcType=VARCHAR},
      asset_code = #{number,jdbcType=VARCHAR},
      rated_uph = #{ratedUPH,jdbcType=REAL},
      rated_voltage = #{ratedVoltage,jdbcType=REAL},
      rated_power = #{ratedPower,jdbcType=REAL},
      rated_pressure = #{ratedPressure,jdbcType=REAL},
      product_date = #{productDate,jdbcType=TIMESTAMP},
      life_cycle = #{lifeCycle,jdbcType=INTEGER},
      connect_device = #{connectDevice,jdbcType=VARCHAR},
      device_new_value = #{deviceNewValue,jdbcType=REAL},
      device_origin_value = #{deviceOriginValue,jdbcType=REAL},
      account_id = #{accountId,jdbcType=BIGINT},
      device_type_id = #{deviceTypeId,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>