<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.net.sunet.sunetcloud.dao.DeviceRawMaterialConsumptionMapper" >
  <resultMap id="BaseResultMap" type="cn.net.sunet.sunetcloud.domain.DeviceRawMaterialConsumption" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="device_id" property="deviceId" jdbcType="BIGINT" />
    <result column="raw_material_consumption_rate" property="rawMaterialConsumptionRate" jdbcType="REAL" />
    <result column="raw_material_consumption_cost" property="rawMaterialConsumptionCost" jdbcType="REAL" />
    <result column="raw_material_consumption_cost_rate" property="rawMaterialConsumptionCostRate" jdbcType="REAL" />
    <result column="outsourced_maintenance_expense" property="outsourcedMaintenanceExpense" jdbcType="REAL" />
    <result column="other_maintenance_expense" property="otherMaintenanceExpense" jdbcType="REAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, device_id, raw_material_consumption_rate, raw_material_consumption_cost, raw_material_consumption_cost_rate, 
    outsourced_maintenance_expense, other_maintenance_expense
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from device_raw_material_consumption
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from device_raw_material_consumption
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="cn.net.sunet.sunetcloud.domain.DeviceRawMaterialConsumption" >
    insert into device_raw_material_consumption (id, device_id, raw_material_consumption_rate, 
      raw_material_consumption_cost, raw_material_consumption_cost_rate, 
      outsourced_maintenance_expense, other_maintenance_expense
      )
    values (#{id,jdbcType=BIGINT}, #{deviceId,jdbcType=BIGINT}, #{rawMaterialConsumptionRate,jdbcType=REAL}, 
      #{rawMaterialConsumptionCost,jdbcType=REAL}, #{rawMaterialConsumptionCostRate,jdbcType=REAL}, 
      #{outsourcedMaintenanceExpense,jdbcType=REAL}, #{otherMaintenanceExpense,jdbcType=REAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.net.sunet.sunetcloud.domain.DeviceRawMaterialConsumption" >
    insert into device_raw_material_consumption
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="deviceId != null" >
        device_id,
      </if>
      <if test="rawMaterialConsumptionRate != null" >
        raw_material_consumption_rate,
      </if>
      <if test="rawMaterialConsumptionCost != null" >
        raw_material_consumption_cost,
      </if>
      <if test="rawMaterialConsumptionCostRate != null" >
        raw_material_consumption_cost_rate,
      </if>
      <if test="outsourcedMaintenanceExpense != null" >
        outsourced_maintenance_expense,
      </if>
      <if test="otherMaintenanceExpense != null" >
        other_maintenance_expense,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="deviceId != null" >
        #{deviceId,jdbcType=BIGINT},
      </if>
      <if test="rawMaterialConsumptionRate != null" >
        #{rawMaterialConsumptionRate,jdbcType=REAL},
      </if>
      <if test="rawMaterialConsumptionCost != null" >
        #{rawMaterialConsumptionCost,jdbcType=REAL},
      </if>
      <if test="rawMaterialConsumptionCostRate != null" >
        #{rawMaterialConsumptionCostRate,jdbcType=REAL},
      </if>
      <if test="outsourcedMaintenanceExpense != null" >
        #{outsourcedMaintenanceExpense,jdbcType=REAL},
      </if>
      <if test="otherMaintenanceExpense != null" >
        #{otherMaintenanceExpense,jdbcType=REAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.net.sunet.sunetcloud.domain.DeviceRawMaterialConsumption" >
    update device_raw_material_consumption
    <set >
      <if test="deviceId != null" >
        device_id = #{deviceId,jdbcType=BIGINT},
      </if>
      <if test="rawMaterialConsumptionRate != null" >
        raw_material_consumption_rate = #{rawMaterialConsumptionRate,jdbcType=REAL},
      </if>
      <if test="rawMaterialConsumptionCost != null" >
        raw_material_consumption_cost = #{rawMaterialConsumptionCost,jdbcType=REAL},
      </if>
      <if test="rawMaterialConsumptionCostRate != null" >
        raw_material_consumption_cost_rate = #{rawMaterialConsumptionCostRate,jdbcType=REAL},
      </if>
      <if test="outsourcedMaintenanceExpense != null" >
        outsourced_maintenance_expense = #{outsourcedMaintenanceExpense,jdbcType=REAL},
      </if>
      <if test="otherMaintenanceExpense != null" >
        other_maintenance_expense = #{otherMaintenanceExpense,jdbcType=REAL},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.net.sunet.sunetcloud.domain.DeviceRawMaterialConsumption" >
    update device_raw_material_consumption
    set device_id = #{deviceId,jdbcType=BIGINT},
      raw_material_consumption_rate = #{rawMaterialConsumptionRate,jdbcType=REAL},
      raw_material_consumption_cost = #{rawMaterialConsumptionCost,jdbcType=REAL},
      raw_material_consumption_cost_rate = #{rawMaterialConsumptionCostRate,jdbcType=REAL},
      outsourced_maintenance_expense = #{outsourcedMaintenanceExpense,jdbcType=REAL},
      other_maintenance_expense = #{otherMaintenanceExpense,jdbcType=REAL}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>