<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.net.sunet.sunetcloud.dao.DevicePerformanceMapper" >
  <resultMap id="BaseResultMap" type="cn.net.sunet.sunetcloud.domain.DevicePerformance" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="device_id" property="deviceId" jdbcType="BIGINT" />
    <result column="malfunction_time" property="malfunctionTime" jdbcType="REAL" />
    <result column="malfuntion_recovery_time" property="malfuntionRecoveryTime" jdbcType="REAL" />
    <result column="run_time" property="runTime" jdbcType="REAL" />
    <result column="mttr_time" property="mttrTime" jdbcType="REAL" />
    <result column="mtbf_time" property="mtbfTime" jdbcType="REAL" />
    <result column="malfuntion_person_id" property="malfuntionPersonId" jdbcType="BIGINT" />
    <result column="malfunction_number" property="malfunctionNumber" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, device_id, malfunction_time, malfuntion_recovery_time, run_time, mttr_time, mtbf_time, 
    malfuntion_person_id, malfunction_number
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from device_performance
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectByDeviceId" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from device_performance
    where device_id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from device_performance
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="cn.net.sunet.sunetcloud.domain.DevicePerformance" >
    insert into device_performance (id, device_id, malfunction_time, 
      malfuntion_recovery_time, run_time, mttr_time, 
      mtbf_time, malfuntion_person_id, malfunction_number
      )
    values (#{id,jdbcType=BIGINT}, #{deviceId,jdbcType=BIGINT}, #{malfunctionTime,jdbcType=REAL}, 
      #{malfuntionRecoveryTime,jdbcType=REAL}, #{runTime,jdbcType=REAL}, #{mttrTime,jdbcType=REAL}, 
      #{mtbfTime,jdbcType=REAL}, #{malfuntionPersonId,jdbcType=BIGINT}, #{malfunctionNumber,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.net.sunet.sunetcloud.domain.DevicePerformance" >
    insert into device_performance
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="deviceId != null" >
        device_id,
      </if>
      <if test="malfunctionTime != null" >
        malfunction_time,
      </if>
      <if test="malfuntionRecoveryTime != null" >
        malfuntion_recovery_time,
      </if>
      <if test="runTime != null" >
        run_time,
      </if>
      <if test="mttrTime != null" >
        mttr_time,
      </if>
      <if test="mtbfTime != null" >
        mtbf_time,
      </if>
      <if test="malfuntionPersonId != null" >
        malfuntion_person_id,
      </if>
      <if test="malfunctionNumber != null" >
        malfunction_number,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="deviceId != null" >
        #{deviceId,jdbcType=BIGINT},
      </if>
      <if test="malfunctionTime != null" >
        #{malfunctionTime,jdbcType=REAL},
      </if>
      <if test="malfuntionRecoveryTime != null" >
        #{malfuntionRecoveryTime,jdbcType=REAL},
      </if>
      <if test="runTime != null" >
        #{runTime,jdbcType=REAL},
      </if>
      <if test="mttrTime != null" >
        #{mttrTime,jdbcType=REAL},
      </if>
      <if test="mtbfTime != null" >
        #{mtbfTime,jdbcType=REAL},
      </if>
      <if test="malfuntionPersonId != null" >
        #{malfuntionPersonId,jdbcType=BIGINT},
      </if>
      <if test="malfunctionNumber != null" >
        #{malfunctionNumber,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.net.sunet.sunetcloud.domain.DevicePerformance" >
    update device_performance
    <set >
      <if test="deviceId != null" >
        device_id = #{deviceId,jdbcType=BIGINT},
      </if>
      <if test="malfunctionTime != null" >
        malfunction_time = #{malfunctionTime,jdbcType=REAL},
      </if>
      <if test="malfuntionRecoveryTime != null" >
        malfuntion_recovery_time = #{malfuntionRecoveryTime,jdbcType=REAL},
      </if>
      <if test="runTime != null" >
        run_time = #{runTime,jdbcType=REAL},
      </if>
      <if test="mttrTime != null" >
        mttr_time = #{mttrTime,jdbcType=REAL},
      </if>
      <if test="mtbfTime != null" >
        mtbf_time = #{mtbfTime,jdbcType=REAL},
      </if>
      <if test="malfuntionPersonId != null" >
        malfuntion_person_id = #{malfuntionPersonId,jdbcType=BIGINT},
      </if>
      <if test="malfunctionNumber != null" >
        malfunction_number = #{malfunctionNumber,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.net.sunet.sunetcloud.domain.DevicePerformance" >
    update device_performance
    set device_id = #{deviceId,jdbcType=BIGINT},
      malfunction_time = #{malfunctionTime,jdbcType=REAL},
      malfuntion_recovery_time = #{malfuntionRecoveryTime,jdbcType=REAL},
      run_time = #{runTime,jdbcType=REAL},
      mttr_time = #{mttrTime,jdbcType=REAL},
      mtbf_time = #{mtbfTime,jdbcType=REAL},
      malfuntion_person_id = #{malfuntionPersonId,jdbcType=BIGINT},
      malfunction_number = #{malfunctionNumber,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>