<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.net.sunet.sunetcloud.dao.MaterialMapper" >
  <resultMap id="BaseResultMap" type="cn.net.sunet.sunetcloud.domain.Material" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="REAL" />
    <result column="place" property="place" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="quality" property="quality" jdbcType="INTEGER" />
    <result column="quality_type" property="qualityType" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, price, place, type, quality, quality_type
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from material
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByName" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from material
    where name LIKE CONCAT(CONCAT('%',#{name}),'%')
    <if test="typeId != null" >
    AND type = #{typeId,jdbcType=INTEGER}
  </if>
  </select>
  <select id="queryByPage" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from material
    <if test="typeId != null" >
      where type=#{typeId,jdbcType=INTEGER}
    </if>
    ORDER BY id ASC limit #{page},#{count}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from material
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.net.sunet.sunetcloud.domain.Material" >
    insert into material (id, name, price, 
      place, type, quality, 
      quality_type)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{price,jdbcType=REAL}, 
      #{place,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, #{quality,jdbcType=INTEGER}, 
      #{qualityType,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.net.sunet.sunetcloud.domain.Material" >
    insert into material
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="place != null" >
        place,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="quality != null" >
        quality,
      </if>
      <if test="qualityType != null" >
        quality_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=REAL},
      </if>
      <if test="place != null" >
        #{place,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="quality != null" >
        #{quality,jdbcType=INTEGER},
      </if>
      <if test="qualityType != null" >
        #{qualityType,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.net.sunet.sunetcloud.domain.Material" >
    update material
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=REAL},
      </if>
      <if test="place != null" >
        place = #{place,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="quality != null" >
        quality = #{quality,jdbcType=INTEGER},
      </if>
      <if test="qualityType != null" >
        quality_type = #{qualityType,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.net.sunet.sunetcloud.domain.Material" >
    update material
    set name = #{name,jdbcType=VARCHAR},
      price = #{price,jdbcType=REAL},
      place = #{place,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      quality = #{quality,jdbcType=INTEGER},
      quality_type = #{qualityType,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>